// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.auto-fill-ul{
  display: block;
  position:relative
}
.search{
  margin-left:70%;
}
.danger_found{
  background-color: lightcoral;
}
.wrapper{
  width:200px;
  padding:20px;
  height: 150px;
}